@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

:root {
    /* --bg-header: #E5E4E2 ;
    --login-text: #094067;
    --text-secondary: #ef4565;
    --text-navbar-link: #094067;
    --bg-secondary: #90b4ce;
   
    --btn-text-white: #fffffe; */

    --bg-main: #8A716A;
    --bg-header: #C2B280 ;
    --login-text: #094067;
    --title-text: #094067;
    --text-secondary: #ef4565;
    --text-navbar-link: #fffffe;
    --bg-secondary: #90b4ce;
    --paragraph: #90a2b8;
   
    --btn-text-white: #fffffe;
}