
@media (max-width: 1400px) {
    .navbar__menu {
        gap: 100px;
    }
    .hero__info--container {
        gap: 110px;
    }   
}
@media (max-width: 1366px) {
    .hero__info {
        gap: 50px;
    }
    .hero__info--container {
        gap: 80px;
    }   
}
@media (max-width: 1200px) {
    .navbar__menu {
        gap: 70px;
    }
    .navbar__list {
        gap: 20px;
    }
    .hero__info--container {
        gap: 50px;
    }
    #contact {
        gap: 150px;
    }
    .footer__container {
        gap: 300px;
    }
}
@media (max-width: 1070px) {
    .navbar__menu {
        gap: 40px;
    }
    .hero__info--container {
        flex-direction: column;
    }
    .hero__info h1 {
        font-size: 40px;
    }
    #contact {
        gap: 120px;
    }
    .footer__container {
        gap: 200px;
    }   
}

@media (max-width: 992px) {
    header {
        padding: 10px 20px;
    }
    .navbar__menu {
        position: absolute;
        top: 70px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        justify-content: center;
         
        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(200%);
        background-color: rgba(17, 25, 40, 0.85);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-top: none;
        border-radius: 0px 0px 16px 16px;
        align-items: center;
        gap: 20px;
        padding: 30px 30px;
        z-index: 2;
        display: none;
    }   
    .navbar__list,
    .header__register {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }    

    .menu-label {
        display: flex;
    }

    #menu-toggle:checked + .navbar__menu {
        display: flex;
    }
    .hero__info {
        gap: 40px;
    }
    .hero__info h1 {
        font-size: 30px;
    }
    .hero__info--container {
        gap: 20px;
    }
    .hero__info--content {
        gap: 20px;
    }
    .hero__info--content p {
        font-size: 20px;
    }
    .hero__info--content a {
        font-size: 16px;
    }
    .container--img {
        width: 280px;
    }

    #contact {
        flex-direction: column;
        gap: 60px;
    }
    .footer__container {
        gap: 100px;
    }   
}
@media (max-width: 768px) {

    .servicios__container {
        flex-direction: column;
        gap: 30px;
    }
    .servicios__container--info {
        width: 90%;
    }
    .footer__container {
        flex-direction: column;
    }
    #servicios h2 {
        font-size: 28px;
    }
    #servicios h3 {
        font-size: 22px;
    }
    #servicios p {
        font-size: 18px;
    }
    #pctips h4 {
        font-size: 28px;
    }
    .card--text h5 {
        font-size: 20px;
    }
    .card--text p {
        font-size: 16px;
    }
    .container__card {
        width: 350px;
        height: 400px;
    }
    .card--content {
        width: 350px;
        height: 400px;
    }
    .card--img {
        width: 65%;
    }

}
@media (max-width: 576px) {
    .header__logo {
        width: 50%;
    }
    #hero {
        padding: 5px;
    }
    .hero__info {
        gap: 30px;
    }
    .hero__info h1 {
        font-size: 26px;
    }
    .hero__info--container {
        gap: 10px;
    }
    .hero__info--content {
        gap: 10px;
    }
    .hero__info--content p {
        font-size: 16px;
    }
    .hero__info--content a {
        font-size: 16px;
    }
    .container--img {
        width: 200px;
    }
    #servicios h2 {
        font-size: 20px;
    }
    #servicios h3 {
        font-size: 18px;
    }
    #servicios p {
        font-size: 16px;
    }
    #pctips {
        padding: 5px;
    }
    #pctips h4 {
        font-size: 20px;
    }
    .card--text h5 {
        font-size: 18px;
    }
    .card--text p {
        font-size: 16px;
    }
    .container__card {
        width: 300px;
        height: 350px;
    }
    .card--content {
        width: 300px;
        height: 350px;
    }
    .card--img {
        width: 60%;
    }
    .contact__maps iframe {
        width: 250px;
        height: 250px;
    }
    .contact__mensaje--textarea input {
        width: 250px;
    }    
    .contact__mensaje--textarea textarea {
        width: 250px;
    }
    .contact__mensaje--textarea a {
        width: 250px;
    }
    
}