main {
    background-image: url(./img/background-submit.jpg);
    background-position: center;
    background-size: cover;
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 40px;
}
.register__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; 
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.8);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);   
}
.register__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.register__content h5 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.register__content--stile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.register__content--stile label {
    font-size: 16px;
    font-weight: 500;

}
.register__content--stile input {
    width: 300px;
    border-radius: 7px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--bg-placeholder);
    color: var(--text-input);
}
.register__content--stile textarea {
    width: 300px;
    border-radius: 7px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-input);
    background-color: var(--bg-placeholder);
}
.register__content--stile input:focus, textarea:focus {
    background-color: var(--bg-ph-focus);
}
.register__btn--a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register__btn--a a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--text-secondary);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.register__content--links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.content--links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.content--links p {
    font-size: 16px;
}
.content--links span a{
    font-size: 17px;
    font-weight: 600;
    color: var(--text-span);
}