/* estilo de header y navbar  */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 60px;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: var(--bg-header);
}

.header__logo {
    width: 120px;
    cursor: pointer;
}

.header__navbar, 
.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__navbar {
    gap: 100px;
}

/* lista de links menu */
.navbar__list {
    gap: 50px;
}
.navbar__list li a {
    color: var(--text-navbar-link);
    font-size: 18px;
    font-weight: 500;
}
.navbar__list li a:hover {
    font-size: 18.2px;
    font-weight: 600; 
    color: var(--text-secondary);
}

.header__register {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.register--btn {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-secondary);
}

/* estilo login */
.login__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    width: 130px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--login-text);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login__btn--icon {
    font-size: 35px;
    color: var(--login-text);
}
.login__btn span {
    color: var(--login-text);
    font-size: 16px;
    font-weight: 600;
}

/* estilo de hero */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #131415;
    width: 100%;
    background: var(--bg-main);
  }

#hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
    padding: 70px 20px;
    gap: 30px;
    background-image: url(./img/fondo-hero.jpg);
    background-size: cover;
    background-position: bottom;
}

.hero__info {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
}
.hero__info--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 300px;
    width: 600px;
    gap: 30px;
    backdrop-filter: blur(2px) saturate(170%);
    -webkit-backdrop-filter: blur(2px) saturate(170%);
    background-color: rgba(17, 25, 40, 0.05);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.hero__info--content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 700;
    color: var(--title-text);
}
.hero__info--content p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--paragraph);
}

/* seccion de servicios  */

#servicios {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    padding: 40px 20px;
    gap: 100px;
}

.servicios__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.servicios__container--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 20px;
    gap: 30px;
}
.servicios__container--info h3 {
    font-size: 26px;
    font-weight: 600;
    color: var(--title-scnd);
}
.servicios__container--info p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--paragraph-scnd);
}

.container--img {
    width: 35%;
    border-radius: 10px;
}